In [1]:
# Importing the libraries.
import numpy as np 
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt
import warnings
warnings.simplefilter('ignore')
%matplotlib inline

In [2]:
# Read the dataset.
df1 = pd.read_excel('Restaurant_cost_Train.xlsx')

In [3]:
df1

,TITLE,RESTAURANT_ID,CUISINES,TIME,CITY,LOCALITY,RATING,VOTES,COST
0,CASUAL DINING,9438,"Malwani, Goan, North Indian","11am – 4pm, 7:30pm – 11:30pm (Mon-Sun)",Thane,Dombivali East,3.6,49 votes,1200
1,"CASUAL DINING,BAR",13198,"Asian, Modern Indian, Japanese",6pm – 11pm (Mon-Sun),Chennai,Ramapuram,4.2,30 votes,1500
2,CASUAL DINING,10915,"North Indian, Chinese, Biryani, Hyderabadi","11am – 3:30pm, 7pm – 11pm (Mon-Sun)",Chennai,Saligramam,3.8,221 votes,800
3,QUICK BITES,6346,"Tibetan, Chinese",11:30am – 1am (Mon-Sun),Mumbai,Bandra West,4.1,24 votes,800
4,DESSERT PARLOR,15387,Desserts,11am – 1am (Mon-Sun),Mumbai,Lower Parel,3.8,165 votes,300
...,...,...,...,...,...,...,...,...,...
12685,QUICK BITES,13228,"North Indian, Burger, Kebab","12noon – 12midnight (Mon, Tue, Wed, Thu, Sun)...",Hyderabad,Gachibowli,3.8,546 votes,500
12686,"CASUAL DINING,BAR",9686,"Goan, Continental","12noon – 1am (Mon-Fri),11am – 5pm, 7pm – 1am...",Mumbai,Bandra Kurla Complex,4.3,1214 votes,1800
12687,LOUNGE,11133,"Finger Food, Continental, Asian, Chinese",12noon – 12:30AM (Mon-Sun),Navi Mumbai,Vashi,4.0,608 votes,1300
12688,CASUAL DINING,6134,"North Indian, South Indian, Chinese, Street Food",6am – 10:45pm (Mon-Sun),Chennai,Maduravoyal,3.5,32 votes,400
12689,CASUAL DINING,6430,"North Indian, Chinese",12:30pm – 11pm (Mon-Sun),Hyderabad,Vanasthalipuram,3.4,677 votes,600

In [4]:
# Read the dataset.
df2 = pd.read_excel('Restaurant_cost_Test.xlsx')

In [5]:
df2

,TITLE,RESTAURANT_ID,CUISINES,TIME,CITY,LOCALITY,RATING,VOTES
0,CASUAL DINING,4085,"North Indian, Chinese, Mughlai, Kebab",12noon – 12midnight (Mon-Sun),Noida,Sector 18,4.3,564 votes
1,QUICK BITES,12680,"South Indian, Fast Food, Pizza, North Indian",7am – 12:30AM (Mon-Sun),Mumbai,Grant Road,4.2,61 votes
2,CASUAL DINING,1411,"North Indian, Seafood, Biryani, Chinese",11am – 11:30pm (Mon-Sun),Mumbai,Marine Lines,3.8,350 votes
3,None,204,Biryani,"9am – 10pm (Mon, Wed, Thu, Fri, Sat, Sun), 10:...",Faridabad,NIT,3.8,1445 votes
4,QUICK BITES,13453,"South Indian, Kerala",11am – 10pm (Mon-Sun),Kochi,Kaloor,3.6,23 votes
...,...,...,...,...,...,...,...,...
4226,CASUAL DINING,9057,"North Indian, Mughlai, Chinese",11:30am – 11:30pm (Mon-Sun),New Delhi,Punjabi Bagh,3.9,287 votes
4227,None,1247,"Biryani, North Indian, Sandwich, Salad, Wraps",11am – 1am (Mon-Sun),Bangalore,HSR Layout,4.3,469 votes
4228,QUICK BITES,8617,"Continental, North Indian",9:30am – 10:30pm (Mon-Sun),Faridabad,Sector 86,3.7,53 votes
4229,QUICK BITES,6485,"Rolls, Beverages","11am – 11:30pm (Mon, Tue, Wed, Thu, Sat, Sun),...",Kochi,Kochi,-,NaN
4230,QUICK BITES,2421,Mughlai,5pm – 1am (Mon-Sun),Bandra West,Perry Cross Road,3.7,63 votes

In [6]:
#concating the two datasets.
df3 = pd.concat([df1,df2],sort=False)

In [7]:
# checking the dataframe.
df3

,TITLE,RESTAURANT_ID,CUISINES,TIME,CITY,LOCALITY,RATING,VOTES,COST
0,CASUAL DINING,9438,"Malwani, Goan, North Indian","11am – 4pm, 7:30pm – 11:30pm (Mon-Sun)",Thane,Dombivali East,3.6,49 votes,1200.0
1,"CASUAL DINING,BAR",13198,"Asian, Modern Indian, Japanese",6pm – 11pm (Mon-Sun),Chennai,Ramapuram,4.2,30 votes,1500.0
2,CASUAL DINING,10915,"North Indian, Chinese, Biryani, Hyderabadi","11am – 3:30pm, 7pm – 11pm (Mon-Sun)",Chennai,Saligramam,3.8,221 votes,800.0
3,QUICK BITES,6346,"Tibetan, Chinese",11:30am – 1am (Mon-Sun),Mumbai,Bandra West,4.1,24 votes,800.0
4,DESSERT PARLOR,15387,Desserts,11am – 1am (Mon-Sun),Mumbai,Lower Parel,3.8,165 votes,300.0
...,...,...,...,...,...,...,...,...,...
4226,CASUAL DINING,9057,"North Indian, Mughlai, Chinese",11:30am – 11:30pm (Mon-Sun),New Delhi,Punjabi Bagh,3.9,287 votes,NaN
4227,None,1247,"Biryani, North Indian, Sandwich, Salad, Wraps",11am – 1am (Mon-Sun),Bangalore,HSR Layout,4.3,469 votes,NaN
4228,QUICK BITES,8617,"Continental, North Indian",9:30am – 10:30pm (Mon-Sun),Faridabad,Sector 86,3.7,53 votes,NaN
4229,QUICK BITES,6485,"Rolls, Beverages","11am – 11:30pm (Mon, Tue, Wed, Thu, Sat, Sun),...",Kochi,Kochi,-,NaN,NaN
4230,QUICK BITES,2421,Mughlai,5pm – 1am (Mon-Sun),Bandra West,Perry Cross Road,3.7,63 votes,NaN

In [8]:
# heading the dataframe.
df3.head()

,TITLE,RESTAURANT_ID,CUISINES,TIME,CITY,LOCALITY,RATING,VOTES,COST
0,CASUAL DINING,9438,"Malwani, Goan, North Indian","11am – 4pm, 7:30pm – 11:30pm (Mon-Sun)",Thane,Dombivali East,3.6,49 votes,1200.0
1,"CASUAL DINING,BAR",13198,"Asian, Modern Indian, Japanese",6pm – 11pm (Mon-Sun),Chennai,Ramapuram,4.2,30 votes,1500.0
2,CASUAL DINING,10915,"North Indian, Chinese, Biryani, Hyderabadi","11am – 3:30pm, 7pm – 11pm (Mon-Sun)",Chennai,Saligramam,3.8,221 votes,800.0
3,QUICK BITES,6346,"Tibetan, Chinese",11:30am – 1am (Mon-Sun),Mumbai,Bandra West,4.1,24 votes,800.0
4,DESSERT PARLOR,15387,Desserts,11am – 1am (Mon-Sun),Mumbai,Lower Parel,3.8,165 votes,300.0

In [9]:
# dropping the null values.
df4=df3.dropna()

In [10]:
#checking the dataframe.
df4

,TITLE,RESTAURANT_ID,CUISINES,TIME,CITY,LOCALITY,RATING,VOTES,COST
0,CASUAL DINING,9438,"Malwani, Goan, North Indian","11am – 4pm, 7:30pm – 11:30pm (Mon-Sun)",Thane,Dombivali East,3.6,49 votes,1200.0
1,"CASUAL DINING,BAR",13198,"Asian, Modern Indian, Japanese",6pm – 11pm (Mon-Sun),Chennai,Ramapuram,4.2,30 votes,1500.0
2,CASUAL DINING,10915,"North Indian, Chinese, Biryani, Hyderabadi","11am – 3:30pm, 7pm – 11pm (Mon-Sun)",Chennai,Saligramam,3.8,221 votes,800.0
3,QUICK BITES,6346,"Tibetan, Chinese",11:30am – 1am (Mon-Sun),Mumbai,Bandra West,4.1,24 votes,800.0
4,DESSERT PARLOR,15387,Desserts,11am – 1am (Mon-Sun),Mumbai,Lower Parel,3.8,165 votes,300.0
...,...,...,...,...,...,...,...,...,...
12685,QUICK BITES,13228,"North Indian, Burger, Kebab","12noon – 12midnight (Mon, Tue, Wed, Thu, Sun)...",Hyderabad,Gachibowli,3.8,546 votes,500.0
12686,"CASUAL DINING,BAR",9686,"Goan, Continental","12noon – 1am (Mon-Fri),11am – 5pm, 7pm – 1am...",Mumbai,Bandra Kurla Complex,4.3,1214 votes,1800.0
12687,LOUNGE,11133,"Finger Food, Continental, Asian, Chinese",12noon – 12:30AM (Mon-Sun),Navi Mumbai,Vashi,4.0,608 votes,1300.0
12688,CASUAL DINING,6134,"North Indian, South Indian, Chinese, Street Food",6am – 10:45pm (Mon-Sun),Chennai,Maduravoyal,3.5,32 votes,400.0
12689,CASUAL DINING,6430,"North Indian, Chinese",12:30pm – 11pm (Mon-Sun),Hyderabad,Vanasthalipuram,3.4,677 votes,600.0

In [11]:
# finding the null values.
df4.isnull().sum()

TITLE            0
RESTAURANT_ID    0
CUISINES         0
TIME             0
CITY             0
LOCALITY         0
RATING           0
VOTES            0
COST             0
dtype: int64

In [12]:
# information of the dataset.
df4.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 11393 entries, 0 to 12689
Data columns (total 9 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   TITLE          11393 non-null  object
 1   RESTAURANT_ID  11393 non-null  int64
 2   CUISINES       11393 non-null  object
 3   TIME           11393 non-null  object
 4   CITY           11393 non-null  object
 5   LOCALITY       11393 non-null  object
 6   RATING         11393 non-null  object
 7   VOTES          11393 non-null  object
 8   COST           11393 non-null  float64
dtypes: float64(1), int64(1), object(7)
memory usage: 890.1+ KB

In [13]:
# get dummy values to the columns.
df4= pd.get_dummies(df4,columns=['TITLE','CUISINES','CITY','LOCALITY'],prefix=['TITLE','CUISINES','CITY','LOCALITY'])

In [14]:
# checking the dataset.
df4

,RESTAURANT_ID,TIME,RATING,VOTES,COST,TITLE_BAKERY,"TITLE_BAKERY,BEVERAGE SHOP","TITLE_BAKERY,CAFÉ","TITLE_BAKERY,CONFECTIONERY","TITLE_BAKERY,DESSERT PARLOR",...,LOCALITY_kukatpally,LOCALITY_madhapur,LOCALITY_near Andhra Prabha office,LOCALITY_near swarn nagri,LOCALITY_nizampet,LOCALITY_nungambakkam,LOCALITY_perungudi,LOCALITY_rajendra nagar,LOCALITY_seawoods grand central mall,LOCALITY_shop no. 3 Sector 22
0,9438,"11am – 4pm, 7:30pm – 11:30pm (Mon-Sun)",3.6,49 votes,1200.0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1,13198,6pm – 11pm (Mon-Sun),4.2,30 votes,1500.0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2,10915,"11am – 3:30pm, 7pm – 11pm (Mon-Sun)",3.8,221 votes,800.0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
3,6346,11:30am – 1am (Mon-Sun),4.1,24 votes,800.0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
4,15387,11am – 1am (Mon-Sun),3.8,165 votes,300.0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
12685,13228,"12noon – 12midnight (Mon, Tue, Wed, Thu, Sun)...",3.8,546 votes,500.0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
12686,9686,"12noon – 1am (Mon-Fri),11am – 5pm, 7pm – 1am...",4.3,1214 votes,1800.0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
12687,11133,12noon – 12:30AM (Mon-Sun),4.0,608 votes,1300.0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
12688,6134,6am – 10:45pm (Mon-Sun),3.5,32 votes,400.0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
12689,6430,12:30pm – 11pm (Mon-Sun),3.4,677 votes,600.0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

In [15]:
# dropping the values.
df4.drop(['RATING','TIME','VOTES'],axis=1, inplace=True)

In [16]:
# checking the dataset.
df4

,RESTAURANT_ID,COST,TITLE_BAKERY,"TITLE_BAKERY,BEVERAGE SHOP","TITLE_BAKERY,CAFÉ","TITLE_BAKERY,CONFECTIONERY","TITLE_BAKERY,DESSERT PARLOR","TITLE_BAKERY,FOOD COURT","TITLE_BAKERY,QUICK BITES","TITLE_BAKERY,SWEET SHOP",...,LOCALITY_kukatpally,LOCALITY_madhapur,LOCALITY_near Andhra Prabha office,LOCALITY_near swarn nagri,LOCALITY_nizampet,LOCALITY_nungambakkam,LOCALITY_perungudi,LOCALITY_rajendra nagar,LOCALITY_seawoods grand central mall,LOCALITY_shop no. 3 Sector 22
0,9438,1200.0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1,13198,1500.0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2,10915,800.0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
3,6346,800.0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
4,15387,300.0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
12685,13228,500.0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
12686,9686,1800.0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
12687,11133,1300.0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
12688,6134,400.0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
12689,6430,600.0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

In [17]:
# Splitting the data into x and y.
X = df4.drop(['COST','RESTAURANT_ID'],axis=1)
y = df4['COST']

In [18]:
# Importing train test split to train and test the model.
from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test = train_test_split(X,y,test_size=0.2)

In [19]:
# feature scaling
from sklearn.preprocessing import LabelEncoder
from sklearn.preprocessing import StandardScaler
scaler = StandardScaler()
X_train = scaler.fit_transform(X_train)

In [20]:
#Importing  SVR algorithm to the model.
from sklearn.svm import SVR
m = SVR(gamma="scale")
m.fit(scaler.transform(X_train),y_train)

SVR(C=1.0, cache_size=200, coef0=0.0, degree=3, epsilon=0.1, gamma='scale',
    kernel='rbf', max_iter=-1, shrinking=True, tol=0.001, verbose=False)

In [21]:
def score(y_pred,y):
    y_pred = np.log(y_pred)
    y = np.log(y)
    return 1 - ((np.sum((y_pred-y)**2))/len(y))**1/2

In [22]:
# Prediction
y_pred = m.predict(scaler.transform(X_test))
score(y_pred,y_test)

0.7052961570883175

In [23]:
# saving the model as a pickle in the file.
from sklearn.externals import joblib
joblib.dump(SVR,'Restaurant food cost.pkl')

['Restaurant food cost.pkl']